<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Head -->
<head th:replace="/fragments/head :: head"></head>
<header th:replace="/fragments/header :: header"></header>
<body>

<main>
   <nav class="navbar navbar-expand-lg navbar-light bg-gold">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Como se juega?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Calendario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <section class="section2">
        <div class="logo">
            <img src="img/Logo_StreamCatch.png" alt="">
        </div>
    </section>

	<section class="section3">
        <div class="titulo-servicios">   
        	<h2>Copa Davis del Prode</h2>      
        </div>
    </section>       

    <section class="section4">
		<div class="titulo-servicios">
			<div class='row' style='padding-top:5%;'>
			
			<div class='col-lg-4 col-md-4 col-sm-12 bloque'>
			<a href='https://primeradivision.unidosporelprode.com.ar' class='bloque2 btn btn-light'>
			<h5>Copa Davis A</h5>
			<a href="/autor/lista"><img th:src="@{/css/images/ADavis.jpg}" class="img-fluid" alt="...">     
			</a>
			</div>
			<div class='col-lg-4 col-md-4 col-sm-12 bloque'>
			<a href='https://primeradivision.unidosporelprode.com.ar' class='bloque2 btn btn-light'>
			<h5>Copa Davis B</h5>
			<a href="/autor/lista"><img th:src="@{/css/images/DavisB.jpg}" class="img-fluid" alt="...">     
			</a>
			</div>
			<div class='col-lg-4 col-md-4 col-sm-12 bloque'>
			<a href='https://primeradivision.unidosporelprode.com.ar' class='bloque2 btn btn-light'>
			<h5>Copa Davis C</h5>
			<a href="/autor/lista"><img th:src="@{/css/images/DavisC.jpg}" class="img-fluid" alt="...">     
			</a>
			</div>
		</div>
    </section>
</main>
<div class="titulo-servicios">   
        	<h2>Jugadores del día</h2>      
        </div>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="/autor/lista"><img th:src="@{/css/images/ADavis.jpg}" class="img-fluid" alt="...">     
    </div>
    <div class="carousel-item">
      <a href="/autor/lista"><img th:src="@{/css/images/DavisB.jpg}" class="img-fluid" alt="...">     
    </div>
    <div class="carousel-item">
      <a href="/autor/lista"><img th:src="@{/css/images/DavisC.jpg}" class="img-fluid" alt="...">     
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    
    <!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2022 Copyright:Copa Davis
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</body>

</html>
